---
import Layout from "../layouts/Layouts.astro"
import Link from "../components/Link.astro"
const title = "dbRaden"


---
<Layout title={title}>
	<h1>{title}</h1>
	<Link link="/about" cssClass="link" content="Pergi ke About"/>
</Layout>

		